<header class="header">
  <div class="logo-section">
    <img src="/main-logo-beat22.svg" alt="Beat22 Logo" class="logo" />
    <!-- <span class="logo-text">Beat22</span> -->

    <!-- Move the search bar here -->
    <app-search-bar></app-search-bar>
  </div>

  <div class="action-buttons">
    <a routerLink="/sign-in" class="signin">Sign In</a>
    <button class="sell-btn"> <a routerLink="/subscriptions">Start Selling</a></button>
  </div>
</header>


<app-beats-dropdown></app-beats-dropdown>
