<header class="header">
  <div class="logo-section">
    <div class="logo-menu">
      <a routerLink="/beats">
        <img src="/main-logo-beat22.svg" alt="Beat22 Logo" class="logo" />
      </a>
  
      <button class="menu-icon" (click)="toggleMenu()">
        <i class="pi pi-bars"></i>
      </button>
    </div>
 
    <app-search-bar class="header-search"></app-search-bar>
  </div>

  <div class="action-buttons">
    <a routerLink="/sign-in" class="signin">Sign In</a>
    <button class="sell-btn"> <a routerLink="/subscriptions">Start Selling</a></button>
  </div>

</header>

<app-beats-dropdown></app-beats-dropdown>
<app-menu *ngIf="showMenu" (closeMenu)="closeMenu()"></app-menu>