.header {
    background-color: #1e1e1e;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.126); 
    flex-wrap: wrap;

  }
  
  .header .logo-section {
    display: flex;
    align-items: center;
    gap: 24px;
   
  }
  
  .logo-menu{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header .logo-section .logo {
    width: 80px;
    margin-right: 10px;
  }
  
  .header .logo-section .logo-text {
    font-size: 24px;
    color: #a259ff;
    font-weight: bold;
  }
  
  .header .action-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  
  }
  
  .header .action-buttons .signin {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .header .action-buttons .sell-btn {
    background-color: #a259ff;
  
    font-weight: 600;
    cursor: pointer;
    border-radius: 4.444px;
    background: linear-gradient(169deg, #7000FF 0%, #7A00FF 31.77%, #8F00FF 100%);
    border: unset;
    min-width: 80px;
    color: #fff !important;
    height: 35px;
    font-size: .75rem;
   
  }

  .sell-btn a{
    text-decoration: none;
    color: #fff;
    
  }

  .menu-icon {
    display: none;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  

  /* ==================== Responsive Styles ==================== */

/* Tablets and below */
@media (max-width: 768px) {
  .header {
    /* flex-direction: column; */
    /* align-items: flex-start; */
    gap: 12px;
    flex-wrap: nowrap;
  }

  .header .logo-section {
    width: 100%;
    justify-content: space-between;
    
  }

  
  .header .action-buttons {
    /* width: 100%; */
    justify-content: flex-start;
    gap: 16px;
   
  }

  .header .action-buttons .signin,
  .header .action-buttons .sell-btn {
    font-size: 14px;
  }

  .header .action-buttons .signin{
    display: none;
  }

  .header .logo-section .header-search {
    flex: 2;

  }

  

}

/* Mobile: Phones */
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    padding: 10px 16px;
  }

  .header .logo-section {
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 10px;
  }

  .header .logo-section .logo {
    width: 65px;
  }

  .header .action-buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  .header .action-buttons .sell-btn {
    width: 100%;
    justify-content: center;
  }
  .menu-icon {
    display: block;
  }

  .logo-menu{
    gap: 9rem;
  }
}