<div class="filters-container">
  <span class="label">Filters:</span>

  <div class="dropdown-container">
    <select class="dropdown">
      <option>Beat Types</option>
    </select>
    <span class="pi pi-angle-down"></span>
  </div>
  
  <div class="dropdown-container">
    <select class="dropdown">
      <option>Moods</option>
    </select>
    <span class="pi pi-angle-down"></span>
  </div>
  
  <div class="dropdown-container">
    <select class="dropdown">
      <option>Tempo</option>
    </select>
    <span class="pi pi-angle-down"></span>
  </div>
  
  <div class="dropdown-container">
    <select class="dropdown">
      <option>Genre</option>
    </select>
    <span class="pi pi-angle-down"></span>
  </div>
  
  <div class="dropdown-container">
    <select class="dropdown">
      <option>Keys</option>
    </select>
    <span class="pi pi-angle-down"></span>
  </div>
  
  <div class="dropdown-container">
    <select class="dropdown">
      <option>Instruments</option>
    </select>
    <span class="pi pi-angle-down"></span>
  </div>
  
  <div class="dropdown-container">
    <select class="dropdown">
      <option>Price</option>
    </select>
    <span class="pi pi-angle-down"></span>
  </div>
  
  <div class="sort-section">
    <span class="label">Sort by:</span>
    <div class="dropdown-container">
      <select class="dropdown highlighted">
        <option selected>For you</option>
      </select>
      <span class="pi pi-angle-down"></span>
    </div>
  </div>
</div>
