<div class="explore-header">
    <h1>Explore <span class="gradient-text">Beats</span></h1>
    <!-- <app-refresh-button></app-refresh-button> -->
    <button class="refresh-btn">Refresh</button>
</div>

<div class="tag-container">
    <button class="tag">Trending Beats</button>
    <button class="tag">WAV under ₹999</button>
    <button class="tag">Wav + Stems under ₹1,999</button>
    <button class="tag">Beats with Exclusive</button>
  </div>
  

  <!-- search -->
  <div class="search-container">
    <span class="pi pi-search" style="font-size: 1rem; color: white;"></span>

    <input type="text" placeholder="Search top beats" />

    
  </div>


  <div class="filter-section">
    <app-filters></app-filters>
  </div>


  <!-- beat cards section -->

  <div class="beat-card-section">
    <!-- <app-beat-cards></app-beat-cards> -->
    <app-beat-cards *ngFor="let beat of beats" [beat]="beat"></app-beat-cards>
  </div>
  

