<div class="faq-container">
    <div class="faq-left">
      <span class="badge">FAQs</span>
      <h2>Frequently Asked Questions</h2>
      <p>
        IPM offers music producers subscription plans for monetizing their beats and
        reaching thousands of daily visiting artists, all at competitive rates.
      </p>
    </div>
  
    <!-- <div class="faq-right">
      <div class="faq-item" *ngFor="let question of faqs; let i = index">
        <div class="question" (click)="toggleFAQ(i)">
          {{ question }}
          <span class="arrow">{{ openIndex === i ? '▲' : '▼' }}</span>
        </div>
        <div class="answer" *ngIf="openIndex === i">
          <p>Answer for: {{ question }}</p>
        </div>
      </div>
    </div> -->
  </div>
  
