<div class="signin-container">
  <div class="signin-box">

    <img src="/main-logo-beat22.svg" alt="Beat22 Logo" class="logo" />

    <form>
      <input type="email" placeholder="Email" class="input-field" />
      <div class="password-wrapper">
        <input type="password" placeholder="Password" class="input-field " />
        <span class="pi pi-eye-slash toggle-password"></span>
      </div>

      <div class="forgot-password">Forgot Password?</div>

      <button type="submit" class="signin-btn">SignIn</button>

      <div class="or-divider">
        <div></div>
        <span>Or</span>
        <div></div>
      </div>

      <button type="button" class="google-btn">

        <img src="/icons8-google.svg" alt="Beat22 Logo" class="google-icon" />
        Sign in with Google
      </button>

      <div class="signup-link">New user? <a href="#">Sign up here.</a></div>
    </form>
  </div>
</div>