.container {
    width: 90%;
    margin: 0 auto; /* centers the container */
    padding-top: 100px;
  }
  
.home-content{
  margin-top: 2rem;
  
}

/* Ensure the header stays at the top */
app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 90%;
  margin:  0 auto;
}

/* Add top padding to the content to prevent it from hiding under the fixed header */

