/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 body, html {
    
    background-color: #1e1e1e;
    user-select: none;
    height: 100%;
  }

 