<div class="beats-container">

  <div class="btn-divider">
    <button  class="beats-button">
      BEATS
    </button>
  </div>
    
  
    <div class="dropdown-menu" >
      <div class="dropdown-item">
        <span class="pi pi-microphone icons"></span> All Beats
      </div>
      <div class="dropdown-item">
        <span class="pi pi-clock icons"></span> Trending Beats
      </div>
      <div class="dropdown-item">
        <span class="pi pi-heart-fill icons"></span> Beat
      </div>
      <div class="dropdown-item">
        <span class="pi pi-microphone icons"></span>Beats With Hook
      </div>
      <div class="dropdown-item">
        <span class="pi pi-youtube icons"></span> Switch Beats
      </div>
      <div class="dropdown-item">
        <span class="pi pi-youtube icons"></span> New Finds
      </div>
      <div class="dropdown-item">
        <span class="pi pi-youtube icons"></span> All Playlists
      </div>
      <div class="dropdown-item">
        <span class="pi pi-youtube icons"></span> Guitar Beats
      </div>
      <div class="dropdown-item">
        <span class="pi pi-microphone icons"></span>Commercial Beats
      </div>
      <div class="dropdown-item">
        <span class="pi pi-youtube icons"></span> RnB Beats
      </div>
    </div>
  </div>
  
